.auth-section img {
  border-radius: 100%;
  width: 40%;
}

.login {
  width: 100%;
  padding: 8px;
  margin-bottom: 1rem;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
}

.logout {
  background: none;
  border: none;
}
