.toolbar {
  padding: 10px;
  background: var(--editor-color);
  border: 1px solid var(--border-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.line-up,
.line-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.toolbar button,
.buttons {
  padding: 5px 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  color: var(--toolbar-button-color);
}

.toolbar button.active {
  background: #868686;
}

@media (max-width: 767px) {
  .toolbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .dropdown-trigger .label {
    display: none;
    padding: 5px 10px;
  }
}
